vti_encoding:SR|utf8-nl
vti_author:SR|ET\\Instructor
vti_modifiedby:SR|ET\\Instructor
vti_timelastmodified:TR|12 May 2016 19:50:53 -0000
vti_timecreated:TR|12 May 2016 19:42:24 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|serato/default.html
vti_nexttolasttimemodified:TW|12 May 2016 19:50:41 -0000
vti_cacheddtm:TX|12 May 2016 19:50:53 -0000
vti_filesize:IR|966
vti_cachedlinkinfo:VX|S|https://unsplash.imgix.net/reserve/QTrNn7DETWGsjyS5L2n5__MG_8345.jpg
vti_cachedsvcrellinks:VX|NSSS|https://unsplash.imgix.net/reserve/QTrNn7DETWGsjyS5L2n5__MG_8345.jpg
